<div class="widget tag">
<h3 class="title">简介</h3>
<ul class="entry">
<li>本体：赵海洋</li>
<li>二次元：k1988</li>
<li>现状：大蓝鲸某IT公司研发部经理</li>
<li>Theme: <a href="https://github.com/k1988/lightum">Lightum</a>
<li>想交友的朋友请<a href="http://baba.zhaoxiuyuan.com/about">联系我</a>！</li>
<li>QQ 号：1811132352</li>
<font color="red">Hexo 交流群：287306637</font>
</ul>
</div>

